mixin choice
    choice__wrapper
        ul.choice
            li.choice__item
                a.choice__ref(href = "#") винная карта
            li.choice__item
                a.choice__ref(href = "#") дегустация